            </div>
        </div>
    <div class="push-footer"></div>
</article>

<footer class="overlay-all-children">

    <!--fixed to make inline, not line-->
    <span class="left-aligned centered-vertically">
        <h4>Ready to make&nbsp</h4>
        <h4 class="impressive-red-txt">your&nbsp</h4>
        <h4>move?</h4>
    </span>

    <span class="socials-container right-aligned centered-vertically">
        <!-- Add an href to each <a> and set up Routes to link social media-->
        <a><img src="/images/facebook.png" alt="facebook" class="socials-icon"></a>
        <a><img src="/images/linkedin.png" alt="linkedin" class="socials-icon"></a>
        <a><img src="/images/instagram.png" alt="instagram" class="socials-icon"></a>
    </span>
    <!-- We can prbly exclude the Privacy Policy and Terms & Conditions-->
    
</footer>

</body>
</html>