
<footer>
    <!--fixed to make inline, not line-->
    <h2>Ready to make</h2><h2 class="highlighted-h2"> your </h2><h2>move?</h2>

    <span class="socials-container">
        <!-- Add an href to each <a> and set up Routes to link social media-->
        <a><img src="/images/facebook.png" alt="facebook" class="socials-icon"></a>
        <a><img src="/images/linkedin.png" alt="linkedin" class="socials-icon"></a>
        <a><img src="/images/instagram.png" alt="instagram" class="socials-icon"></a>
    </span>
    <!-- We can prbly exclude the Privacy Policy and Terms & Conditions-->
</footer>

</body>
</html>