<%- include('../partials/header.ejs')%>

    <div class="Rectangle7" style="width: 930px; height: 558px; left: 255px; top: 200px; position: absolute; background: white; box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.25); border-radius: 10px"></div>
    <div class="ContactForm" style="width: 740px; height: 349px; left: 350px; top: 305px; position: absolute">
        <div class="Email" style="width: 360px; height: 63px; left: 380px; top: 0px; position: absolute">
            <div class="Rectangle8" style="width: 360px; height: 63px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
            <div class="Email" style="width: 62px; height: 37px; padding: 10px; left: 6px; top: 11px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                <div class="Email" style="text-align: justify; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">EMAIL</div>
            </div>
        </div>
        <div class="Name" style="width: 360px; height: 63px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle10" style="width: 360px; height: 63px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
            <div class="Name" style="left: 15px; top: 21px; position: absolute; text-align: justify; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">NAME</div>
        </div>
        <div class="Message" style="width: 740px; height: 181px; left: 0px; top: 92px; position: absolute">
            <div class="Rectangle9" style="width: 740px; height: 181px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
            <div class="TextBox" style="width: 724.93px; height: 167.77px; left: 15.07px; top: 13.23px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">MESSAGE</div>
        </div>
        <div class="Submit" style="width: 360px; height: 47px; left: 190px; top: 302px; position: absolute">
            <div class="Rectangle12" style="width: 360px; height: 47px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25); border: 1px black solid; backdrop-filter: blur(4px)"></div>
            <div class="SendMessage" style="left: 86px; top: 9px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">SEND MESSAGE</div>
        </div>
    </div>
    <div class="GetInTouch" style="width: 370px; height: 46px; left: 540px; top: 225px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Get In Touch</div>
</div>

<%- include('../partials/footer.ejs')%>